


<div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
    <div class="footer-widget__column footer-widget__links clearfix">
    {% if label %}
        <h3 class="footer-widget__title">{{ title_attributes }}{{ label }}</h3>
         {% endif %}
        {{ content }}
    </div>
</div>