<section class="services-one">
	<div class="container">
        <div class="section-title text-center"> 
            <span class="section-title__tagline">Services we’re offering</span>
            <h2 class="section-title__title">Industries We Serve</h2> 
        </div>
        {{ content.field_select_services_pthsf|field_value }}
	</div>
</section>