
		<!--Sevice Details Start-->
	{# 	<section class="service-details">
			<div class="container">
				<div class="row">
					<div class="col-xl-4 col-lg-5">
						<div class="service-details__sidebar">
							<div class="service-details__sidebar-service">
								<ul class="service-details__sidebar-service-list list-unstyled">
									<li><a href="industry-construction.html">Industry Construction <span
												class="fa fa-angle-right"></span></a>
									</li>
									<li><a href="petrolium-gas.html">Petroleum and Gas <span
												class="fa fa-angle-right"></span></a></li>
									<li><a href="mechanical-engineering.html">Mechanical Engineering <span
												class="fa fa-angle-right"></span></a>
									</li>
									<li><a href="chemical-research.html">Chemical Researches <span
												class="fa fa-angle-right"></span></a></li>
									<li><a href="power-energies.html">Power and Energies <span
												class="fa fa-angle-right"></span></a></li>
									<li><a href="factory-materials.html">Factory Materials <span
												class="fa fa-angle-right"></span></a></li>
								</ul>
							</div>
							<div class="service-details__need-help">
								<h3 class="service-details__need-help-title">Need help</h3>
								<p class="service-details__need-help-text">Speak with a human to filling out a form?
									call corporate office and we will connect you with a team member who can help.</p>
								<div class="service-details__need-help-phone">
									<div class="service-details__need-help-phone-icon">
										<span class="icon-phone"></span>
									</div>
									<div class="service-details__need-help-phone-number">
										<h4><a href="tel:92-666-888-0000">92 666 888 0000</a></h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-8 col-lg-7">
						<div class="service-details__right">
							<div class="service-details__img">
								<img src="assets/images/resources/service-details-img-1.jpg" alt="">
								<div class="service-details__icon">
									<span class="icon-petroleum"></span>
								</div>
							</div>
							<div class="service-details__content">
								<h3 class="service-details__title">Mechanical Engineering</h3>
								<p class="service-details__text">Lorem ipsum is simply free text used by copytyping
									refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et
									quasi architecto beatae vitae dicta sunt explicabo. Aelltes port lacus quis enim var
									sed efficitur turpis gilla sed sit amet finibus eros. Lorem Ipsum is simply dummy
									text of the printing and typesetting industry. Lorem Ipsum has been the ndustry
									standard dummy text ever since the 1500s, when an unknown printer took a galley of
									type and scrambled it to make a type specimen book. It has survived not only five
									centuries. Lorem Ipsum is simply dummy text of the new design printng and type
									setting Ipsum Take a look at our round up of the best shows coming soon to your
									telly box has been the is industrys. Lorem Ipsum is simply dummy text of the
									printing and typesetting industry. Lorem Ipsum has industr standard dummy text ever
									since the 1500s, when an unknown printer took a galley of type and scrambled it to
									make a type specimen book. It has survived not only five centuries, but also the
									leap into electronic typesetting, remaining essentially unchanged. It was
									popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
									passages, and more recently with desktop publishing software like Aldus PageMaker
									including versions of.</p>
							</div>
							<div class="service-details__benefits">
								<div class="row">
									<div class="col-xl-6">
										<div class="service-details__benefits-img">
											<img src="assets/images/resources/service-details__benefits-img.jpg" alt="">
										</div>
									</div>
									<div class="col-xl-6">
										<div class="service-details__benefits-text">
											<h3 class="service-details__benefits-title">Our Benefits</h3>
											<p class="service-details__benefits-text">Duis aute irure dolor in
												reprehende voluptate velit esse cillum.</p>
											<ul class="list-unstyled service-details__benefits-list">
												<li>
													<div class="icon">
														<span class="icon-check"></span>
													</div>
													<div class="text">
														<p>Refresing to get such a touch</p>
													</div>
												</li>
												<li>
													<div class="icon">
														<span class="icon-check"></span>
													</div>
													<div class="text">
														<p>Duis aute irure dolor in in voluptate</p>
													</div>
												</li>
												<li>
													<div class="icon">
														<span class="icon-check"></span>
													</div>
													<div class="text">
														<p>Velit esse cillum eu fugiat pariatur</p>
													</div>
												</li>
												<li>
													<div class="icon">
														<span class="icon-check"></span>
													</div>
													<div class="text">
														<p>Duis aute irure dolor in in voluptate</p>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="service-details__faq">
								<div class="accrodion-grp" data-grp-name="faq-one-accrodion">
									<div class="accrodion active">
										<div class="accrodion-title">
											<h4>Company Provides a Full Range of Services?</h4>
										</div>
										<div class="accrodion-content">
											<div class="inner">
												<p>Suspendisse finibus urna mauris, vitae consequat quam vel. Vestibulum
													leo ligula, vitae commodo nisl. Lorem ipsum is simply free text
													available in the market to use for web dolor sit amet, consectetur
													adipisi cing elit.</p>
											</div><!-- /.inner -->
										</div>
									</div>
									<div class="accrodion">
										<div class="accrodion-title">
											<h4>Home Improvement Works are Expensive?</h4>
										</div>
										<div class="accrodion-content">
											<div class="inner">
												<p>Suspendisse finibus urna mauris, vitae consequat quam vel. Vestibulum
													leo ligula, vitae commodo nisl. Lorem ipsum is simply free text
													available in the market to use for web dolor sit amet, consectetur
													adipisi cing elit.</p>
											</div><!-- /.inner -->
										</div>
									</div>
									<div class="accrodion">
										<div class="accrodion-title">
											<h4>Taking Seamless Key Performance Indicators?</h4>
										</div>
										<div class="accrodion-content">
											<div class="inner">
												<p>Suspendisse finibus urna mauris, vitae consequat quam vel. Vestibulum
													leo ligula, vitae commodo nisl. Lorem ipsum is simply free text
													available in the market to use for web dolor sit amet, consectetur
													adipisi cing elit.</p>
											</div><!-- /.inner -->
										</div>
									</div>
									<div class="accrodion last-chiled">
										<div class="accrodion-title">
											<h4>Minning Construction Project Program</h4>
										</div>
										<div class="accrodion-content">
											<div class="inner">
												<p>Suspendisse finibus urna mauris, vitae consequat quam vel. Vestibulum
													leo ligula, vitae commodo nisl. Lorem ipsum is simply free text
													available in the market to use for web dolor sit amet, consectetur
													adipisi cing elit.</p>
											</div><!-- /.inner -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> #}