<!--Tabs Box One Start-->
        <section class="tabs-box-one">
            <div class="container">
                <div class="tabs-box-one__main-tab-box tabs-box">
                    <ul class="tab-buttons clearfix list-unstyled">
                     {% for key, item in content.field_home if key|first != '#' %}
                         {% set counter = ( counter | default(0) ) + 1 %}
                         {% set para_children =  item['#paragraph'] %}
                        <li data-tab="#{{ counter }}" class="tab-btn {% if loop.first %}active-btn{% endif %}"><span>{{ para_children.field_tab_heading_phtf[0].value|raw }}</span></li>
                        {% endfor %}
                    </ul>
                    <div class="tabs-content">
                    {% for key, item in content.field_home if key|first != '#' %}
                        {% set counter = ( counter | default(0) ) + 1 %}
                        {% set para_children =  item['#paragraph'] %}

                        <!--tab-->
                        <div class="tab {% if loop.first %}active-tab{% endif %}" id="{{ counter  }}">
                            <div class="tabs-content__inner">
                                <div class="row">
                                    {{ item }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}                      
                    </div>
                </div>
            </div>
        </section>
        <!--Tabs Box One End-->