<div class="col-xl-6 col-lg-6">
    <div class="tabs-content__inner-left">
        <div class="tabs-content__inner-img">
            {{ content.field_tab_featured_image_phtf|field_value }}
        </div>
    </div>
</div>
<div class="col-xl-6 col-lg-6">
    <div class="tabs-content__inner-right">
        <p class="tabs-content__inner-right-text">{{ content.field_tab_blurb_phtf|field_value}}</p>
        {{ content.field_list_items_phtf|field_value }}
    </div>
</div>