    <li>
        <div class="welcome-one__list-icon">
            <span class="icon-check"></span>
        </div>
        <div class="welcome-one__list-text">
            <p>{{content.field_item_lif|field_value}}</p>
        </div>
    </li>
   
   